<div class="todo_item">
  <p><%= todo_item.content %></p>
</div>

<%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
"Delete"
<% end %>
